@import "~antd/dist/antd.css";

body {
  font-family: "Roboto", sans-serif;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.btn {
  background-color: #ECECEC; /* Green */
  border-style: solid;
  border-color: gray;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0 4px;
  cursor: pointer;
  /*padding: 32px 36px;*/
  border-radius: 10px;
  width: 100px;
  height: 100px;
}
.btn b {
  font-size:30px;
}
.btn-span {
  font-size: 24px;
  margin-left: 20px;
  font-weight: 800;
}
h3 {
  margin-top: 5px;

}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
